{% extends "blog/base.html" %}
{% block content %}
	<div class="separate-pages">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<form method="post" action = "{% url 'search_it' %}">
						{% csrf_token %}
						<span><input type="text" name="q" value="{{ request.GET.q }}"></span>
						<button type="submit" class="sub-button">Search</button>
					</form>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					Add more cars: <button type="submit" class="sub-button"><a href="{% url 'blog-create' %}">Add</a></button>
				</div>
			</div>
		</div>
		{% for car in cars %}
			<div class="container post-distance">
				<article class="media content-section">
					{% if car.image %}
					<img class="article-img " src="{{ car.image.url }}">
					{% else %}
					<img class="article-img" src="{{ object.image.url }}">
					{% endif %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="media-body">
						<div class="article-metadata">
							<a class="mr-2" href="{% url 'car_details' car.id %}">{{ car.posted_by }}</a>
							<small class="text-muted">{{ car.date_posted|date:"F d, Y" }}</small>
						</div>
						<h2><small class="text-muted">Company: </small><a class="article-title" href="{% url 'car_details' car.id %}">{{ car.company_name }}</a></h2>
						<h4 class="article-content"><small class="text-muted">Model &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </small>{{ car.model_name }}</h4>
						<h6 class="article-content"><small class="text-muted">Launching Year &nbsp;&nbsp; : </small>{{ car.launched_date|date:"F d, Y"}}</h6>
					</div>
				</article>
			</div>
		{% endfor %}
	</div>
{% endblock content %}