{% extends 'blog/base.html' %}
{% block content %}
      <!-- <div class="container"> -->
        <div class="pimg1">
            <div class="ptext wow bounceInDown" data-wow-duration="4s" data-wow-delay="0.0s">
                <span class="">
                    Nikhil Bhardwaj
                </span>
            </div>
        </div>
        <section class="section section-light">
            <h2 class="wow fadeInUp" data-wow-duration="3s">Make Your TODO List</h2>
            
            <a href="{% url 'todo-index' %}" class="wow fadeInUp btn btn-outline-success btn-lg" data-wow-duration="3s">Click Here</a>
        </section>
        <div class="pimg2">
            <div class="ptext wow fadeInUp" data-wow-duration="3s">
                <span class="">
                    Django Developer
                </span>
            </div>
        </div>
        <section class="section section-light">
            <h2 class="wow fadeInUp" data-wow-duration="3s">Check Your City weather</h2>
            <a href="{% url 'weather_main' %}" class="wow fadeInUp btn btn-outline-success btn-lg" data-wow-duration="3s">Click Here</a>
        </section>
        <div class="pimg3">
            <div class="ptext wow fadeInUp" data-wow-duration="3s">
                <span class="">
                    Github Link
                </span>
            </div>
        </div>
        <!-- </div> -->
{% endblock content %}