{% extends 'blog/base.html' %}
{% block content %}
      <!-- <div class="container"> -->
        <div class="pimg1">
            <div class="ptext wow bounceInDown" data-wow-duration="3s">
                <span class="wall-text">
                    Nikhil Bhardwaj
                </span>
            </div>
        </div>
        <section class="section section-light">
            <h2 class="wow fadeInUp" data-wow-duration="3s" data-wow-delay="">Make Your TODO List</h2>

            <a href="{% url 'todo-index' %}" class="btn btn-outline-success btn-lg wow fadeInUp" data-wow-duration="3s" data-wow-delay="">Click Here</a>
        </section>
        <div class="pimg2">
            <div class="ptext wow fadeInUp" data-wow-duration="3s" data-wow-delay="">
                <span class="wall-text">
                    Django Developer
                </span>
            </div>
        </div>
        <section class="section section-light">
            <h2 class="wow fadeInUp" data-wow-duration="3s" data-wow-delay="">Check Your City weather</h2>
            <a href="{% url 'weather_main' %}" class="btn btn-outline-success btn-lg wow fadeInUp" data-wow-duration="3s" data-wow-delay="">Click Here</a>
        </section>
        <div class="pimg3">
            <div class="ptext wow fadeInUp" data-wow-duration="3s" data-wow-delay="">
                <span class="wall-text">
                    Github Link
                </span>
            </div>
        </div>
{% endblock content %}
