{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="separate-pages">
		<div class="container">
        	<div class="row">
            	<div class="col-md-3">
                </div>
                <div class="col-md-6 loginform">
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password
                    </div>
				</div>
        		<div class="col-md-3">
        		</div>
        	</div>
        </div>
	</div>
{% endblock content %}
