{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="separate-pages">
		<div class="container">
        	<div class="row">
            	<div class="col-md-3">
                </div>
                <div class="col-md-6 loginform">
        			<form class="form-group" action="" method="post">
                		{% csrf_token %}
                		<center><legend>Password Reset</legend></center>
                        <hr>
                		{{ form|crispy }}
                		<div class="form-group">
                    		<button type="submit" class="sub-button" name="button">Reset Password</button>
                		</div>
            		</form>
				</div>
        		<div class="col-md-3">
        		</div>
        	</div>
        </div>
	</div>
{% endblock content %}
